* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        font-size: 31px;
        letter-spacing: 4px;
        margin-right: 120px;
        color: black;

        span {
            color: #007aff;
        }
    }

    .search-panel {
        display: flex;
        align-items: center;
        padding: 0 15px;
        flex-grow: 1;

        input[name="search"] {
            width: 325px;
            height: 40px;
            background: #FFFFFF;
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            font-size: 14px;
            padding: 0 14px;
        }
    }

    .authorize {
        display: flex;
        align-items: center;

        .flex-el {
            margin-left: 22px;
        }

        .icon {
            width: 30px;
            height: 28px;
        }

        .heart {
            background: url(../images/ikons/heart.png) no-repeat center center / contain;
        }

        .basket {
            background: url(../images/ikons/basket.png) no-repeat center center / contain;
        }

    }
}

.btn-blue-right-bend {
    height: 40px;
    padding: 0 14px;
    background: #007AFF;
    color: white;
    font-size: 14px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.btn-blue {
    height: 40px;
    padding: 0 14px;
    background: #007AFF;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-white {
    height: 40px;
    min-width: 100px;
    padding: 0 20px;
    background: rgb(255, 255, 255);
    color: #757575;
    font-size: 14px;
    border: 1px solid #757575;
    border-radius: 3px;
    cursor: pointer;
}

.subhead {
    background: #F4F4F4;
    .nav {
        min-height: 45px;
        display: flex;
        align-items: center;
        .nav-item {
            font-size: 15px;
            color: #737270;
            margin-right: 34px;
            &:hover {
                color: #007AFF;
            }
        }
    }
}

